
@media screen and (min-width: 1021px) and (max-width: 1200px) {
  /* Styles for screens between 1021px and 1200px */
  .Nav-Panel{

  }

  .navbar-gap{
    gap: 30px;
  }


  .Hero-lamp{
   margin-top: -27rem;
  }

  .Animate-Hero-Lamp{
  margin-top: -45rem;
  }

 .Hero-text{
  transform: translateY(-4rem);
 }

 .Hero-text-container{
  transform: translateY(-5rem);
  scale: 90%;
 }

 .Hero-text-main{
  font-size: 11rem;
 }

 .Scroll-Down-Container{
  margin-top: 5rem !important;
 }

 .lamp-container{
  margin-top: 5rem;
 }

  .Mid-Lamp{
  transform: translateY(-11rem);
 }

 .lamp-Light {
  transform: translateY(-5rem);
  height: 20rem;
  width: 49rem;
  opacity: 27%;
 }

 .lamp-Beam{
  background: #0099FF;
  background: linear-gradient(90deg, rgba(0, 153, 255, 0) 0%, rgba(0, 153, 255, 0.4) 15%, rgba(0, 153, 255, 0.65) 30%, rgba(0, 153, 255, 0.8) 40%, rgba(0, 153, 255, 1) 50%, rgba(0, 153, 255, 0.8) 60%, rgba(0, 153, 255, 0.65) 70%, rgba(0, 153, 255, 0.4) 85%, rgba(0, 153, 255, 0) 100%);
  height: 2.4rem;
  width: 48rem;


 }

 .Animate-Mid-Lamp{
  margin-top: -83rem;
 }

 .Image-Box{
  margin-top: -42rem;
 }

 .BG-Gradient{
  background:
  /* right */
  radial-gradient(circle at 68.5714340209961% 32.38101323445638%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* left */
  radial-gradient(circle at 30.000117619832356% 31.428572336832683%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* center */
  /* radial-gradient(circle at 49.04762268066406% 40.00008900960286%, #000000 0%, 6%, rgba(0, 0, 0, 0) 45%), */
  /* center right */
  radial-gradient(circle at 66.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center left */
  radial-gradient(circle at 35.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center bottom */
  radial-gradient(circle at 49.04762268066406% 60.00008900960286%, #000000 0%, 29%, rgba(0, 0, 0, 0) 43%),
  /* top left */
  radial-gradient(circle at 18.09535503387451% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  /* top right */
  radial-gradient(circle at 77.38095601399739% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,.1)100%);
 }

 .About-card{
  margin-top: -42.5rem;
 }

 .About-container{
  scale: 120%;
 }

 .Bento-Grids-Header{
  margin-top: -7rem;
 }

 .Bento-Light{
  transform: translateY(20rem);
 }

 .Globe-container{
  width: 100% !important;
  height: 550px !important;
   margin-top: 10rem;

 }

  .Globe{
    width: 100% !important;
  }

  .Globe-Text-top{
  font-size: 2rem;
 }

 .Globe-Text-bottom{
  font-size: 2.3rem;
 }

 .stat-card{
  transform: scaleY(0.75);
 }

 .stat-container{
 margin-top: -8rem;
 }

 .tech-row-1{
   margin-top: -0.3rem;
    margin-bottom: 1.5rem;
  }

  .tech-icons{
    scale: 90%;
  }

  /* project section resize and design for mobile layout */

  .project-recent-heading{
    margin-top: 1rem;
  }

 .project-vidbox {
    height: 400px !important;
    width: 100% !important;
    max-width: 50vw !important;
  }

  .project-info {
    padding: 0.75rem 0.5rem !important;
    width: 100% !important;
  }

  .project-info h2 {
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.2 !important;
  }

  .project-info p {
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-info a {
    padding: 0.4rem 0.8rem !important;
    margin-top: auto !important;
  }

  .project-info a span {
    font-size: 0.8rem !important;
  }

  .project-card-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
  }

  .project-card {
    margin-top: 2rem;
    scroll-snap-align: center;
    width: 85vw !important;
    min-height: 400px !important;
    padding: 0.5rem !important;
    flex-direction: row !important;
  }

  /* Center first project on mobile */
  .project-card:first-child {
    margin-left: calc((100vw - 85vw) / 2) !important;
  }

}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  /* Styles for screens between 1201px and 1440px */
  .Nav-Panel{

  }

  .navbar-gap{
    gap: 30px;
  }


  .Hero-lamp{
   margin-top: -27rem;
  }

  .Animate-Hero-Lamp{
  margin-top: -45rem;
  }

 .Hero-text{
  transform: translateY(-4rem);
 }

 .Hero-text-container{
  transform: translateY(-5rem);
  scale: 90%;
 }

 .Hero-text-main{
  font-size: 11rem;
 }

 .Scroll-Down-Container{
  margin-top: 5rem !important;
 }

 .lamp-container{
  margin-top: 5rem;
 }

  .Mid-Lamp{
  transform: translateY(-11rem);
 }

 .lamp-Light {
  transform: translateY(-5rem);
  height: 20rem;
  width: 49rem;
  opacity: 27%;
 }

 .lamp-Beam{
  background: #0099FF;
  background: linear-gradient(90deg, rgba(0, 153, 255, 0) 0%, rgba(0, 153, 255, 0.4) 15%, rgba(0, 153, 255, 0.65) 30%, rgba(0, 153, 255, 0.8) 40%, rgba(0, 153, 255, 1) 50%, rgba(0, 153, 255, 0.8) 60%, rgba(0, 153, 255, 0.65) 70%, rgba(0, 153, 255, 0.4) 85%, rgba(0, 153, 255, 0) 100%);
  height: 2.4rem;
  width: 48rem;


 }

 .Animate-Mid-Lamp{
  margin-top: -83rem;
 }

 .Image-Box{
  margin-top: -42rem;
 }

 .BG-Gradient{
  background:
  /* right */
  radial-gradient(circle at 68.5714340209961% 32.38101323445638%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* left */
  radial-gradient(circle at 30.000117619832356% 31.428572336832683%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* center */
  /* radial-gradient(circle at 49.04762268066406% 40.00008900960286%, #000000 0%, 6%, rgba(0, 0, 0, 0) 45%), */
  /* center right */
  radial-gradient(circle at 66.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center left */
  radial-gradient(circle at 35.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center bottom */
  radial-gradient(circle at 49.04762268066406% 60.00008900960286%, #000000 0%, 29%, rgba(0, 0, 0, 0) 43%),
  /* top left */
  radial-gradient(circle at 18.09535503387451% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  /* top right */
  radial-gradient(circle at 77.38095601399739% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,.1)100%);
 }

 .About-card{
  margin-top: -42.5rem;
 }

 .About-container{
  scale: 120%;
 }

 .Bento-Grids-Header{
  margin-top: -7rem;
 }

 .Bento-Light{
  transform: translateY(20rem);
 }

 .Globe-container{
  width: 100% !important;
  height: 550px !important;
  margin-top: 10rem;

 }

  .Globe{
    width: 100% !important;
  }

  .Globe-Text-top{
  font-size: 2rem;
 }

 .Globe-Text-bottom{
  font-size: 2.3rem;
 }

 .stat-card{
  transform: scaleY(0.75);
 }

 .stat-container{
 margin-top: -7.5rem;
 }

 .tech-row-1{
   margin-top: -0.3rem;
    margin-bottom: 1.5rem;
  }

  .tech-icons{
    scale: 90%;
  }

 /* project section resize and design for mobile layout */

  .project-recent-heading{
    margin-top: 1rem;
  }

 .project-vidbox {
    height: 400px !important;
    width: 100% !important;
    max-width: 50vw !important;
  }

  .project-info {
    padding: 0.75rem 0.5rem !important;
    width: 100% !important;
  }

  .project-info h2 {
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.2 !important;
  }

  .project-info p {
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-info a {
    padding: 0.4rem 0.8rem !important;
    margin-top: auto !important;
  }

  .project-info a span {
    font-size: 0.8rem !important;
  }

  .project-card-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
  }

  .project-card {
    margin-top: 2rem;
    scroll-snap-align: center;
    width: 85vw !important;
    min-height: 400px !important;
    padding: 0.5rem !important;
    flex-direction: row !important;
  }

  /* Center first project on mobile */
  .project-card:first-child {
    margin-left: calc((100vw - 85vw) / 2) !important;
  }

}

@media screen and (min-width: 1441px) and (max-width: 1900px) {

  .Hero-lamp{
   margin-top: -27rem;
  }

  .Animate-Hero-Lamp{
  margin-top: -45rem;
  }

 .Hero-text{
  transform: translateY(-4rem);
 }

 .Hero-text-container{
  transform: translateY(-5rem);
 }

 .Hero-text-main{
  font-size: 11rem;
 }

 .Scroll-Down-Container{
  margin-top: 5rem !important;
 }

/* .reactive-Orb-container{
  margin-top: -38rem;
  }

 .reactive-Orb-inner{
  scale: 70%;
 } */

 .lamp-container{
  margin-top: 5rem;
 }

  .Mid-Lamp{
  transform: translateY(-11rem);
 }

 .lamp-Light {
  transform: translateY(-5rem);
  height: 20rem;
  width: 49rem;
  opacity: 27%;
 }

 .lamp-Beam{
  background: #0099FF;
  background: linear-gradient(90deg, rgba(0, 153, 255, 0) 0%, rgba(0, 153, 255, 0.4) 15%, rgba(0, 153, 255, 0.65) 30%, rgba(0, 153, 255, 0.8) 40%, rgba(0, 153, 255, 1) 50%, rgba(0, 153, 255, 0.8) 60%, rgba(0, 153, 255, 0.65) 70%, rgba(0, 153, 255, 0.4) 85%, rgba(0, 153, 255, 0) 100%);
  height: 2.4rem;
  width: 48rem;


 }

 .Animate-Mid-Lamp{
  margin-top: -83rem;
 }

 .Image-Box{
  margin-top: -42rem;
 }

 .BG-Gradient{
  background:
  /* right */
  radial-gradient(circle at 68.5714340209961% 32.38101323445638%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* left */
  radial-gradient(circle at 30.000117619832356% 31.428572336832683%, #000000 0%, 7.5%, rgba(0, 0, 0, 0) 40%),
  /* center */
  /* radial-gradient(circle at 49.04762268066406% 40.00008900960286%, #000000 0%, 6%, rgba(0, 0, 0, 0) 45%), */
  /* center right */
  radial-gradient(circle at 66.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center left */
  radial-gradient(circle at 35.04762268066406% 50.00008900960286%, #000000 0%, 20.5%, rgba(0, 0, 0, 0) 35%),
  /* center bottom */
  radial-gradient(circle at 49.04762268066406% 60.00008900960286%, #000000 0%, 29%, rgba(0, 0, 0, 0) 43%),
  /* top left */
  radial-gradient(circle at 18.09535503387451% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  /* top right */
  radial-gradient(circle at 77.38095601399739% 0%, #000000 0%, 33.75%, rgba(0, 0, 0, 0) 50%),
  radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,.1)100%);
 }

 .About-card{
  margin-top: -42.5rem;
 }

 .About-container{
  scale: 120%;
 }

 .Bento-Grids-Header{
  margin-top: -7rem;
 }

 .Bento-Light{
  transform: translateY(20rem);
 }

 .Globe-container{
  width: 100% !important;
  height: 550px !important;
   margin-top: 10rem;

 }

  .Globe{
    width: 100% !important;
  }

  .Globe-Text-top{
  font-size: 2rem;
 }

 .Globe-Text-bottom{
  font-size: 2.3rem;
 }

 .pic-dec{
  transform: translateX(-1.5rem);
 }

 .stat-card{
  transform: scaleY(0.75);
 }

 .stat-container{
 margin-top: -7rem;
 }

 .collab-heading , .collab-text{
  transform: translateY(-1rem);
 }

 .collab-team{
  margin-top: -1rem;
 }
  .Collab-container{
  /* margin-left: -2rem; */
  scale: 100%;
 }

 .tech-marquee-container{
  margin-top: 1rem;
 }

 .tech-row-1{
   margin-top: -1rem;
   margin-bottom: 1.5rem ;
  }

  .tech-icons{
    scale: 90%;
  }
  .teach-bottom-text{
   margin-top: 1rem;
  }


  .tech-code-left{
    transform: translateX(5rem);
  }

  .tech-code-right{
    transform: translateX(40rem);
  }

 .roadmap-heading{
  margin-top: 2rem ;
 }

 /* project section resize and design for mobile layout */

  .project-recent-heading{
    margin-top: 1rem;
  }

 .project-vidbox {
    height: 400px !important;
    width: 100% !important;
    max-width: 50vw !important;
  }

  .project-info {
    padding: 0.75rem 0.5rem !important;
    width: 100% !important;
  }

  .project-info h2 {
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.2 !important;
  }

  .project-info p {
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-info a {
    padding: 0.4rem 0.8rem !important;
    margin-top: auto !important;
  }

  .project-info a span {
    font-size: 0.8rem !important;
  }

  .project-card-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
  }

  .project-card {
    margin-top: 2rem;
    scroll-snap-align: center;
    width: 85vw !important;
    min-height: 400px !important;
    padding: 0.5rem !important;
    flex-direction: row !important;
  }

  /* Center first project on mobile */
  .project-card:first-child {
    margin-left: calc((100vw - 85vw) / 2) !important;
  }

}

@media screen and (min-width: 1900px) and (max-width: 2560px) {
  /* Styles for screens between 1921px and 2560px */
  .Hero-lamp{
  margin-top: -30rem;
  }

  .Animate-Hero-Lamp{
  margin-top: -63rem;
  }

  .Hero-text{
  /* margin-top: -38rem; */
  transform: translateY(-10rem);
 }

 .Hero-text-container{
  transform: translateY(-12rem);
 }

 .Hero-text-main{
  font-size: 15rem;
 }

 .reactive-Orb-container{
  margin-top: -54rem;
  }

 .reactive-Orb-inner{
  scale: 100%;
 }

 .Lamp-container{
  margin-top: 0rem;
 }

  .Mid-Lamp{
  transform: translateY(-10rem);
 }

  .lamp-Light {
    transform: translateY(-5rem);
    height: 30rem;
    width: 65rem;
    opacity: 25%;
  }

  .lamp-Beam{
  background: #0099FF;
  background: linear-gradient(90deg, rgba(0, 153, 255, 0) 0%, rgba(0, 153, 255, 0.4) 15%, rgba(0, 153, 255, 0.65) 30%, rgba(0, 153, 255, 0.8) 40%, rgba(0, 153, 255, 1) 50%, rgba(0, 153, 255, 0.8) 60%, rgba(0, 153, 255, 0.65) 70%, rgba(0, 153, 255, 0.4) 85%, rgba(0, 153, 255, 0) 100%);
  height: 2.9rem;
  width: 53rem;
 }

 .Animate-Mid-Lamp{
  margin-top: -95rem;
 }

 .Image-Box{
  margin-top: -48rem;

 }

  .BG-Gradient{
  background:
  /* right */
  radial-gradient(circle at 75.5714340209961% 32.38101323445638%, #000000 0%, 6.5%, rgba(0, 0, 0, 0) 40%),
  /* left */
  radial-gradient(circle at 25.000117619832356% 31.428572336832683%, #000000 0%, 6.5%, rgba(0, 0, 0, 0) 40%),
  /* center */
  /* radial-gradient(circle at 49.04762268066406% 40.00008900960286%, #000000 0%, 6%, rgba(0, 0, 0, 0) 45%), */
  /* center right */
  radial-gradient(circle at 64.04762268066406% 50.00008900960286%, #000000 0%, 23.5%, rgba(0, 0, 0, 0) 35%),
  /* center left */
  radial-gradient(circle at 36.04762268066406% 50.00008900960286%, #000000 0%, 23.5%, rgba(0, 0, 0, 0) 35%),
  /* center bottom */
  radial-gradient(circle at 49.04762268066406% 69.00008900960286%, #000000 0%, 29%, rgba(0, 0, 0, 0) 43%),
  /* top left */
  radial-gradient(circle at 18.09535503387451% 0%, #000000 0%, 35.75%, rgba(0, 0, 0, 0) 50%),
  /* top right */
  radial-gradient(circle at 77.38095601399739% 0%, #000000 0%, 35.75%, rgba(0, 0, 0, 0) 50%),
  radial-gradient(circle at 48.9013671875% 49.521484375%, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,.1)100%);
 }

 .About-card{
  margin-top: -57rem;
 }

 .About-container{
  margin-top: 1rem;
  scale: 150%;
 }
 .Bento-Grids{

 }

 .Bento-Lamp{
  scale: 130%;
 }

 .Bento-Lamp-beam{
  scale: 110%;
 }

 .Bento-Grids-Header{
  margin-top: -9rem;
  scale: 120%;
 }

 .Bento-Light{
  transform: translateY(25rem);
 }

 .stat-container{
 margin-top: -4rem;
 }

.Globe-container{
  top: 8rem;
  height: 700px;

 }

 .Globe{
  width: 100%;
  height: 100%;
 }

 .Globe-Text-top{
  font-size: 2.75rem;
 }

 .Globe-Text-bottom{
  font-size: 3rem;
 }

 .Collaberation-Header{
  font-size: 1.5rem;
 }

 .Collab-container{
  margin-top: 4rem;
  scale: 140%;
 }

  .tech-code-left{
    transform: translateX(10rem);
  }

  .tech-code-right{
    transform: translateX(45rem);
  }

  .creativity-Header{
    font-size: 1.5rem;
  }

  .creativity-light{
    transform: translateY(6rem);
    transform: translateX(3.5rem);
  }

  .Projects-Section{
    margin-top: -7rem;
  }

  .project-card-container{
    margin-top: 2rem;
    scale: 110%;
  }

  /* project section resize and design for mobile layout */

  .project-recent-heading{
    margin-top: 5rem;
  }

 .project-vidbox {
    height: 500px !important;
    width: 100% !important;
    max-width: 50vw !important;
  }

  .project-info {
    padding: 0.75rem 0.5rem !important;
    width: 100% !important;
  }

  .project-info h2 {
    font-size: 3rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.2 !important;
  }

  .project-info p {
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .project-info a {
    /* padding: 0.4rem 0.8rem !important; */
    margin-top: auto !important;
  }

  .project-info a span {
    font-size: 0.8rem !important;
  }

  .project-card-container {
    padding-bottom: 5rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-overflow-scrolling: touch;
  }

  .project-card {
    /* margin-top: 2rem; */
    scroll-snap-align: center;
    width: 85vw !important;
    min-height: 600px !important;
    padding: 0.5rem !important;
    flex-direction: row !important;
  }

  /* Center first project on mobile */
  .project-card:first-child {
    margin-left: calc((100vw - 85vw) / 2) !important;
  }

}

@media screen and (min-width: 2561px) {
  /* Styles for screens larger than 2560px */
}
